body{
    margin: 0px;
}

#mainLogoPlaceholder{
    position: absolute;
    float: left;
    height: fit-content;
    width: auto;
    z-index: 0;
}


#mainLogo{
    height: 75px;
    margin-left: 20px;
    margin-top: 10px;
}

#box1{
    height: 100px;
    width: auto;
    background-color: #49575d;
    padding-left: 300px;
    overflow: hidden;
}

#subMenuBar{
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 75px;
    margin-left: -13px;
    box-shadow: 2px 2px 5px hwb(0 20% 80%);
}

#mobileMenuBar{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mobileMenu:target{
    height: 100%;
    width: 80%;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    
    animation-name: menuSlide;
    animation-duration: 0.5s;
}

#mobileMenuBarContnet{
    flex: 1;
}

#mobileMenuButton{
    position: absolute;
    z-index: 1;
    filter: invert(100);
    margin-top: 20px;
    margin-left: 10px;
}

#mobileMenuHeader{
    background-color: #49575d;
    width: 100%;
    height: 45px;
}

#cross-button{
    width: 40px;
    float: right;
    filter: invert(100%);
}

#contactInfo{
    float: right;
    color: white;
    margin-top: 50px;
}

#backgroundImg{
    width: auto;
    height: fit-content;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    float: none;
}

#white-fade{
    width: 100%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.8);
}

#opaque-bg{
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#greetTitle{
    color: rgb(0, 0, 0);
    font-size: xxx-large;
    font-family: 'Helvetica', Courier, monospace;
    text-align: center;
    background-color: white;
    width: 100%;
    
}

#phoneNumber{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0px;
    gap: 0;
}

#telephone{
    height: 35px;
    margin-top: 17px;
    filter: invert();
}


#introduction-text{
    float: left;
    width: auto;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 1.8rem;
}

#product-grid{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 250px 250px 250px 250px;
    grid-auto-rows: 400px;
    grid-auto-flow: row;
    grid-gap: 3em 2em;
}

#product-list{
    display: grid;
    grid-template-rows: 400px 400px 400px 400px;
    grid-auto-rows: 400px;
    grid-auto-flow: column;
    grid-gap: 3em 2em;
}

#footer{
    width: auto;
    height: 300px;
    background-color: #49575d;
}

#nyxia{
    margin-left: 75px;
}

.contactInfo{
    font-size: small;
    float: right;
    color: white;
    margin-right: 10px;
    margin-top: 20px;
    line-height: 10px;
    cursor: pointer;
    text-decoration: none;
}

.menuBar button{
    float: left;
    margin-top: 35px;
    background-color: #49575d;
    color: white;
    font-size: large;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}

.menuBar a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}
.menuBar .subMenuBar{
    display: none;
    position: relative;
    background-color: white;
    min-width: 100px;
    text-align: center;
}

.menuBar:hover .subMenuBar{
    display: block;
}

.menuBar:hover button{
    background-color: hsl(0, 0%, 59%);
}

.menuBar a:hover{
    background-color: #cecece;
}

.center-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.images{
    display: flex;
    width: 100%;
    height: auto;
    animation: slideshow 20s infinite;
}

.slider{
    float: left;
    width: 300%;
    height: 400px;
    position: relative;
    margin-top: 70px;
    margin-right: 30px;
    overflow: hidden;
}

.slideshow-im{
    width: 100%;
    flex-shrink: 0;
}

.slideshow-im img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item{
    background-color: rgb(193, 193, 193);
    width: 250px;
    height: 400px;
    overflow: hidden;
}

.product-image{
    width: 100%;
    height: 65%;
    object-fit: cover;
}

.yphresies-button-text{
    float: left;
    padding-left: 10px;
}

.right-arrow-img{
    width: 10%;
    float: right;
    margin-top: 8.5%;
    padding-right: 10px;
}

.product-item:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    background-color: rgb(185, 185, 185);
    cursor: default;
}

.yphresies-button{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    background-color: #dfdfdf;
    border-radius: 20px;
    width: 90%;
}

.product-icon{
    width: 200px;
    height: auto;
    float: left;
    margin-right: 30px;
}

.product-text{
    float: right;
    text-align: left;
    margin-top: 30px;
    width: 150px;
    margin-left: 40px;
}

.product-name{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.product-border{
    margin-bottom: 40px;
}

@keyframes slideshow{
    0% { transform: translateX(0%); }
    16.66% { transform: translateX(0%); }
    19.99% { transform: translateX(-100%); }
    33.32% { transform: translateX(-100%); }
    36.65% { transform: translateX(-200%); }
    49.98% { transform: translateX(-200%); }
    53.31% { transform: translateX(-300%); }
    66.64% { transform: translateX(-300%); }
    69.97% { transform: translateX(-400%); }
    83.3% { transform: translateX(-400%); }
    86.63% { transform: translateX(-500%); }
    100% { transform: translateX(-500%); }
}

.social{
    float: right;
    width: 20px;
    margin-top: 45px;
    margin-left: 4px;
    margin-right: 4px;
    filter: invert(100);
}

.hidden{
    opacity: 0;
    transition: all 1s;
}

.hiddenMenu{
    display: none;
}

.show{
    opacity: 1;
}

#underConstruction{
    width: 100%;
    background-color: #49575d;
    text-align: center;
    color: white;
    height: auto;
    margin: 0px;
    margin-top: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    float: none;
    margin-bottom: 5px;
}

#mobileMenuBarFooter{
    background-color: #49575d;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobileMenuBarTelephone{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

#mobileMenuSocial{
    margin-top: -40px;
    margin-bottom: 30px;
}

@media (max-width: 1037px){
    #mainLogoPlaceholder{
        position: relative;
        float: none;
        background-color: #49575d;
        align-items: center;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #box1{
        padding-left: 10px;
    }
}

@media (max-width:746px){
    #tabletContactInfo{
        display: none;
    }
}

@media (max-width: 1403px){
    #opaque-bg{
        display: flex;
        flex-direction: column-reverse;
    }
    .slider{
        width: 100%;
        margin-top: 0px;
    }

}

@media (max-width: 1138px){
    #product-grid{
        grid-template-columns: 250px 250px 250px;
    }
}

@media (max-width: 829px){
    #product-grid{
        grid-template-columns: 250px 250px;
    }
}
@media (max-width: 543px){
    #product-grid{
        grid-template-columns: 250px;
    }

    .product-item{
        width: 250px;
    }
}

@media (max-width: 578px){
    #box1{
        display: none;
    }
    #contactInfo{
        float: none;

    }
}

@media (min-width: 578px){
    #mobileMenu:target,
    #mobileMenu,
    #mobileMenuButton{
        display: none;
    }
}

@keyframes menuSlide{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0px);
    }
}