#xtenisma-text{
    font-size: 3.5rem;
}

#xtenisma-image{
    float: left;
    width: 30%;
    margin-right: 50px;
}

#info-text{
    font-size: 2.5rem;
}

.xtenisma-yphresies{
    margin-right: 50px;
    float: left;
    margin-left: 3%;
}

#xtenisma-yphresies-header{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    margin-top: 0px;
    padding: 1%;
}

#xtenisma-cointainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(231, 231, 231);
}

.xtenisma-thmes{
    float: right;
    margin-right: 3%;
}

.xtenisma-yphresies-content{
    background-color: rgb(179, 179, 179);
    margin-bottom: 20px;
    font-size: 1.2rem;
}

#more-button{
    margin-top: 50px;
    background-color: #49575d;
    color: white;
    width: 100%;
    padding: 1%;
    cursor: pointer;
}

#more-button:hover{
    background-color: #6d8088;
}

#more-button-div{
    width: 100%;
}

#content{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
}